<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <preference for="Egits\CustomApiSku\Api\ProductItemInterface" type="Egits\CustomApiSku\Model\ProductItem" />
     <!-- <preference for="Egits\CustomApiSku\Api\ResponseItemInterface" type="Egits\CustomApiSku\Model\ResponseItem" /> -->
</config>